body {
    font-family: 'Helvetica','Arial', sans-serif;
    margin:0px;
	padding:0px;
}
header {
    color: #FFFFFF;
    background-color: #E5E000;
}
.wrapper {
    min-width: 819px;
    max-width: 2000px; 
	height: auto; 
    margin: auto;
}
.image {
    max-width: 2000px; 
    margin: auto;
}
header h1 {
    font-size: 50px;
    font-weight: 700;
    padding: 80px 0 80px 80px;
    max-width: 2000px; 
	height: auto; 
    margin: 0px auto
}
header p {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 36px 0 35px 80px;
    text-transform: uppercase;
    max-width: 2000px; 
	height: auto; 
    margin: 0px auto
}
main {
    font-size: 50px;
    flex: 1;
}
main h1 {
    font-weight: 700;
    margin-left: 80px;
    margin-top: 110px;
}
main p {
    width: 1280px;
    font-weight: 300;
    margin-left: 80px;
    margin-bottom: 100px;
}
footer {
    color: #FFFFFF;
    background-color: #E5E000;
    display: flex;
    justify-content: space-between;
}
footer .wrapper {
    padding: 0;
}
.logo {
    height: 46px;
    margin: 77px 0 77px 80px;
}
.footer-title {
    font-size: 50px;
    font-weight: 700;
    padding-right: 0;
    margin-right: 80px;
    margin: 70px 80px 66px 0;
}